<%- layout('layouts/boilerplate') %>
     <br>
    <div class="row">
      <div class="col-8 offset-2">
        <h3>Listings Details :</h3>
        <br>
        <div class="card" style="width: 18rem;">
          <img src="<%= allData.image %>" class="card-img-top " alt="Listing_image" >
          <div class="card-body">
            <p class="card-text">
              <ul>
                  <li><b><%= allData.title %></b> </li>
                  <li> <%= allData.description %></li>
                   <li>&#8377; <%= allData.price.toLocaleString('en-IN') %> </li>
                  <li><%= allData.location %></li>
                  <li><%= allData.country %> </li>
              </ul>
            </p>
          </div>
        </div>
      <ul>
      <br>
      <button class="edit-btn"><a href="/listings/<%= allData._id %>/edit">Edit Data</a></button>
      <br>
      <br>
      <form action="/listings/<%= allData._id %>/delete?_method=DELETE" method="post">
      <button class="edit-btn-1">Delete this Listing</button>
  </form>
  
  
      </div>
    </div>
   