<%- layout('layouts/boilerplate') %>
<body>
    <h3>Listings Details :</h3>
    <ul>
        <li><%= allData.title %></li>
        <li><%= allData.description %></li>
        <li> &#8377; <%= allData.price.toLocaleString('en-IN') %></li>
        <li><%= allData.location %></li>
        <li><%= allData.country %></li>
    </ul>
    <br>
    <button><a href="/listings/<%= allData._id %>/edit">Edit Data</a></button>
    <br>
    <br>
    <form action="/listings/<%= allData._id %>/delete?_method=DELETE" method="post">
    <button>Delete this Listing</button>
</form>
</body>
